@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .fill-height{
        flex: 1;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .fill-height{
        height: 100%;
    }
}